main {
  padding-inline: 40px;
}

.graph--relatorio-vendas {
  margin-top: 30px;
  width: 1090px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Relatorios--container {
  margin-top: 30px;
  width: 1090px;
  position: relative;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & > div {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  }
}
