.menu--container {
  position: relative;
  background-color: white;
  width: 256px;
  height: 100%;
  grid-area: menu;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);

  .logo {
    color: #fbd973;
    font-size: 46px;
    padding-block: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu--item {
    font-size: 20px;
    padding-left: 35px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #787878;
    cursor: pointer;

    p {
      font-size: 16px;
      color: #52575c;
      font-weight: bold;
    }
  }

  .menu--item--selected {
    color: #fbd973;

    p {
      color: #fbd973;
    }
  }

  .menu--logout {
    position: absolute;
    font-size: 20px;
    padding-left: 35px;
    bottom: 46px;
    display: flex;
    align-items: center;
    color: #787878;
    gap: 20px;
    cursor: pointer;

    p {
      font-size: 16px;
      color: #52575c;
      font-weight: bold;
    }
  }
}
