.pedidos--container {
  margin-inline: 40px;
  margin-block: 20px;
  width: 1090px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);

  & > h3 {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  tr {
    text-align: left;
  }

  th {
    padding-block: 12px;
  }

  .nome {
    padding-left: 24px;
  }

  td {
    font-size: 12px;
    padding-block: 12px;
    padding-right: 10px;
    border-top: 1px solid #f6f8fb;
  }

  .icones {
    gap: 5px;
  }

  .imagem {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 90px;
    gap: 12px;

    img {
      border-radius: 50%;
    }
  }

  .space {
    padding-right: 70px;
  }

  .pencil {
    cursor: pointer;
    color: #a0a4a8;
    font-size: 18px;
  }

  .file {
    cursor: pointer;
    color: #696969;
    font-size: 18px;
  }
}
